[user]
	name = yuanyuan.chen
	email = yuanyuan.chen@gojek.com
[url "git@source.golabs.io:"]
 	insteadOf = https://sum.golang.org/lookup/source.golabs.io/
	insteadOf = https://source.golabs.io/
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[url "ssh://git@source.golabs.io/"]
	insteadOf = https://source.golabs.io/
